drzewo {
    display: block;
    background-image: url(./obrazki/drzewo.jpg);
}
drzewo::before{
    content: "Drzewo Życia";
    display: block;
    font-weight: bolder;
    font-size: large;
    text-transform: uppercase;
    text-align: center;
    background: lightgreen;
}
drzewo>ostatnia_modyfikacja{
    background: lightgreen;
}
drzewo>ostatnia_modyfikacja::before {
    content: "Ostatnio zmodyfikowano: ";
}


/*Klady:*/

klady {
	display: block;
    counter-reset: klady;
	background: lightgrey;
	border: 1px solid black;
	margin: 20px;
}
klady::before{
    content: "Klady:";
    font-weight: bold;
    font-size: medium;
    text-transform: uppercase;
}
klad {
	display: block;
	border: 1px solid black;
	background: yellow;
	margin: 5px;
}
klady>klad::before{
    content: counter(klady, upper-roman) ".";
    counter-increment: klady;
}
klad[wymarly="1"]>knazwa::after {
	content: "\271D";
}
klad>knazwa::before {
	content: "Klad: ";
}
klad[ranga="r1"]>knazwa::before {
	content: "Rodzaj: ";
}
klad[ranga="r2"]>knazwa::before {
	content: "Rodzina: ";
}
klad:hover{
    background: white;
}


/*Gatunki*/

gatunki {
	display: block;
	background: lightgrey;
	border: 1px solid black;
	margin: 20px;
    padding: 10px;
}
gatunki::before{
    content: "Gatunki:";
	display: block;
    font-weight: bold;
    font-size: medium;
    text-transform: uppercase;
}
gatunek {
	display: inline-block;
	border: 1px solid black;
	background: lightblue;
    width: 400px;
    height: 83px;
    margin: 10px;
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 100% auto;
    padding-top: 350px;
    overflow: hidden;
}
gatunek[rodzaj="k4"] {
    background-image: url(./obrazki/Cotylorhynchus.jpg);
}
gatunek[rodzaj="k4"]:active {
    background-image: url(./obrazki/CotylorhynchusF.jpg);
}
gatunek[rodzaj="k5"] {
    background-image: url(./obrazki/Eothyris.jpg);
}
gatunek[rodzaj="k5"]:active {
    background-image: url(./obrazki/EothyrisF.jpg);
}
gatunek[rodzaj="k6"] {
    background-image: url(./obrazki/Oedaleops.jpg);
}
gatunek[rodzaj="k6"]:active {
    background-image: url(./obrazki/OedaleopsF.jpg);
}
gatunek>gnazwa{
	display: block;
	background: white;
    font-style: italic;
    text-align: center;
    height: 20px;
    padding: 10px;
	border-top: 1px solid black;
}
gatunek[nisza="n1"]>gnazwa::after {
    content: url(./obrazki/drapieżnik.png);
    float: right;
}
gatunek[nisza="n2"]>gnazwa:after {
    content: url(./obrazki/roślinożerca.png);
    float: right;
}
gatunek[nisza="n3"]>gnazwa::after {
    content: url(./obrazki/owadożerca.png);
    float: right;
}
gatunek[rodzaj="k4"]>gnazwa::before {
    content: "Cotylorhynchus ";
    font-style: italic;
}
gatunek[rodzaj="k5"]>gnazwa::before {
    content: "Eothyris ";
    font-style: italic;
}
gatunek[rodzaj="k6"]>gnazwa::before {
    content: "Oedaleops ";
    font-style: italic;
}
gatunek>data_odkrycia {
	display: block;
    height: 20px;
	border-top: 1px solid black;
}
gatunek>data_odkrycia::before{
    content: "Data odkrycia: "
}
gatunek>data_odkrycia::after {
    content: ".";
}
gatunek>najwcz_datowanie {
	display: block;
    height: 20px;
	border-top: 1px solid black;
}
gatunek>najwcz_datowanie::before {
    content: "Najwcześniejsze datowanie: ";
}
gatunek>najwcz_datowanie::after {
    content: " lat temu.";
}